.Body {
    background-color: #0b3f06;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.GameOverScreen {
    background-color: #0b3f06;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    font-size: calc(18px + 2vmin);
    text-align: center;
    padding: 5rem;
    width: auto;
    height: auto;
    min-width: 10rem;
    min-width: 10rem;
}


.Home-Button-Body {
    flex: 1;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    display: flex;
}

.AppBody {
    background-color: #0b3f06;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    color: white;
}

.ImageOverlayStyle {
    background-color: #0b3f06;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
    color: white;
}

.PlayerCardPos {
    display: flex;
    top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    position: relative;
    left: 35%;
    padding-top: 9%;
}

.PlayerInfoPos {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-width: 200px;
    left: 16%;
    top: -15%;
}

.PlayerBtnSetPos {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 34%;
    top: -14%;
    margin: 1%;
}

.PlayerCardStyle {
    max-height: 130px;
    height: auto;
    width: auto;
    position: relative;
}


.AICardStyle {
    justify-content: space-between;
    flex-direction: row;
    padding: 5px;
    max-height: 130px;
    height: auto;
    width: auto;
    position: relative;
}

.AICardPos {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    left: 35%;
    top: -15%;
    padding-top: 1%;
}

.RoundGameText {
    text-align: center;
    top: 0%;
    font-size: calc(15px + 2vmin);
    position: absolute;
    height: auto;
    left: 43%;
}

